.dashboard-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #1a202c;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.carousel-container {
  width: 100%;
  height: auto;
  max-width: 1200px;
}

.dashboard-content h2 {
  margin-bottom: 20px;
  text-align: center;
}
